body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 15px;
 line-height: 24px;
 letter-spacing: 2px;
 margin: 1em auto;
 text-align:left;
 padding: 1em;
}
a {
  text-decoration:none;
}
a:link, a:active, a:visited {
  color:blue;
}
a:hover {
  color: red;
}
h1 {
 padding: 0.1em;
 margin-top: 1em;
}
.foot {
 font-size: small;
 text-align: left;
 border-top: 1px dotted black;
}
canvas {
  border: black 2px solid;
}
